In [ ]:
#Creat fuction

In [1]:
lists=["Subfields in AI are:","Machine_Learning","Naural_Networks","Vision","Robotics","Speech_Processing","Natural_Language_Processing"]

In [2]:
for temp in lists:
    print(temp)

Subfields in AI are:
Machine_Learning
Naural_Networks
Vision
Robotics
Speech_Processing
Natural_Language_Processing

In [3]:
def SubfieldsinAIare():
   for temp in lists:
    print(temp)

In [4]:
SubfieldsinAIare()

Subfields in AI are:
Machine_Learning
Naural_Networks
Vision
Robotics
Speech_Processing
Natural_Language_Processing

In [ ]:
#Create a function that checks whether the given number is odd or Even

Enter a number : 52452
52452 is Even number

In [5]:
lists=[52452]

In [6]:
 num=int(input("Enter the number:"))
 for num in lists:
    if((num%2)==52452):
        print(num,"is odd number")
    else:
        print(num,"is Even number")

Enter the number: 52452

52452 is Even number

In [7]:
def OddEven():
    num=int(input("Enter the number:"))

    if((num%2)==52452):
        print(num,"is odd number")
        message=num,"is odd number"
    else:
        print(num,"is Even number")
        message=num,"is Even number"
    return message

In [8]:
message=OddEven()

Enter the number: 2

2 is Even number

In [9]:
if(message=="Even number"):
    print("The give number is Odd")
else:
    print("The given number is Even")

The given number is Even

In [ ]:
#Create fuction

OddEven()

Enter a number:4
4 is Even number

In [10]:
num=int(input("Enter a number:"))
if((num%2)==4):
    print(num,"is Odd number")
else:
    print(num,"is Even number")

Enter a number: 4

4 is Even number

In [11]:
def OddEven():
    num=int(input("Enter a number:"))
    if((num%2)==4):
       print(num,"is Odd number")
       message=num,"is Odd number"
    else:
       print(num,"is Even number")
       message=num,"is Even number"
    return message

In [12]:
message=OddEven()

Enter a number: 2

2 is Even number

In [ ]:
#Create a function that tells elegibility of marrige for male and female according to their age limit like 21 for male and 18 for female

Elegibility for marrige.Elegible()

your Gender:Male
your Age:20
NOT ELIGIBLE

In [13]:
lists=[17,10,]

In [14]:
for age in lists:
    print(age)

17
10

In [15]:
for age in lists:
    if("male" and age<21):
         print("NOT ELIGIBLE")
    elif("female" and age<18):
         print("NOT ELIGIBLE")
    else:
         print("ELIGIBLE")

NOT ELIGIBLE
NOT ELIGIBLE

In [16]:
def AgeCategory():
       if("male" and age<21):
           print("NOT ELIGIBLE")
       elif("female" and age<18):
           print("NOT ELIGIBLE")
       else:
           print("ELIGIBLE")

In [17]:
AgeCategory()

NOT ELIGIBLE

In [18]:
def AgeCategory():
       if("male" and age<21):
           print("NOT ELIGIBLE")
           cate="NOT ELIGIBLE"
       elif("female" and age<18):
           cate="NOT ELIGIBLE"
           print("NOT ELIGIBLE")
       else:
           print("ELIGIBLE")
           cate="ELIGIBLE"

In [19]:
age=int(input("Enter the Age:"))
agecate=AgeCategory()

Enter the Age: 20

NOT ELIGIBLE

In [20]:
print(agecate)

None

In [21]:
def malefemale():
       if("male" and age<21):
           print("male")
           message="male"
       elif("female" and age<18):
           print("female")
           message="female"
       else:
           print("children")
           message="children"
       return message

In [22]:
Gender= malefemale()

male

In [23]:
#Calculate the percentage of your 10th mark

Percent.percentage()

Subjuct1=98
Subjuct2=87
Subjuct3=95
Subjuct4=95
Subjuct5=93
Totel:468
Percentage:93.60000000000001

In [24]:
lists=["subjuct1=98","subjuct2=87","subjuct=95","subjuct=95","subjuct=93"]

In [25]:
for temb in lists:
    print(temb)

subjuct1=98
subjuct2=87
subjuct=95
subjuct=95
subjuct=93

In [26]:
#Addition

In [27]:
a=98
b=87
c=95
d=95
e=93
add=a+b+c+d+e
print(add)

468

In [28]:
num=int(input("Enter the Totel:"))
a=add
b=500
division=add/500*100
print(division)

Enter the Totel: 468

93.60000000000001

In [29]:
def percentage():    
    a=add
    b=500
    division=add/500*100
    print(division)

In [30]:
percentage()

93.60000000000001

In [31]:
#create function

percentage()

Subjuct1=23
Subjuct2=45
Subjuct3=34
Subjuct4=23
Subjuct5=23
Totel:148
Percentage:29.5999999999999998

In [ ]:
#Addition

In [32]:
Sub1=23
Sub2=45
Sub3=34
Sub4=23
Sub5=23
add=Sub1+Sub2+Sub3+Sub4+Sub5
print(add)

148

In [33]:
num=int(input("Enter the Totel:"))
Sub1=add
Sub2=500
Division=add/500*100
print(Division)

Enter the Totel: 148

29.599999999999998

In [34]:
def Percentage():
    Sub1=add
    Sub2=500
    Division=add/500*100
    print(Division)

In [35]:
Percentage()

29.599999999999998

In [ ]:
#create function

Elegible()

Your Gender:Male
Your Age :18
NOT ELIGIBLE

In [36]:
lists=[17,20,25]

In [37]:
for age in lists:
    print(age)

17
20
25

In [38]:
    num=int(input("Enter the age:"))
    if("male"and age>18):
        print("NOT ELIGIBLE")
    elif("female" and age>21):
        print("NOT ELIGIBLE")
    else:
        print("ELIGIBLE")

Enter the age: 15

NOT ELIGIBLE

In [39]:
def AgeCategory():
     if("male"and age>18):
        print("NOT ELIGIBLE")
     elif("female" and age>21):
        print("NOT ELIGIBLE")
     else:
        print("ELIGIBLE")

In [40]:
AgeCategory()

NOT ELIGIBLE

In [41]:
def AgeCategory():
    if("male"and age>18):
        print("NOT ELIGIBLE")
        Cate="NOT ELIGIBLE"
    elif("female" and age>21):
        print("NOT ELIGIBLE")
        Cate="NOT ELIGIBLE"
    else:
        print("ELIGIBLE")
        Cate="ELIGIBLE"

In [42]:
num=int(input("Enter the age:"))
ageCate=AgeCategory()

Enter the age: 15

NOT ELIGIBLE

In [43]:
print(ageCate)

None

In [44]:
def malefemle():
    if("male"and age>18):
        print("male")
        message="male"
    elif("female" and age>21):
        print("female")
        message="female"
    else:
        print("children")
        message="children"
    return message

In [45]:
Gender=malefemle()

male

In [ ]:
#create funtion

triangle()

Height:3
Breadth:4
Area formula:(Height*Breadth)/2
Area of Triangle:6.0
Height1:3
Height2:4
Breadth:45
Perameter formula:Height1+Height2+Breadth
Perameter of Triangle:52

In [46]:
lists=["Height:3","Breadth:4"]

In [47]:
for Areaformula in lists:
    print(Areaformula )

Height:3
Breadth:4

In [48]:
Areaformula=(3*4)/2
print("Area of Triangle:",Areaformula)

Area of Triangle: 6.0

In [49]:
lists=["Height1:3","Height2:4","Breadth:45"]

In [50]:
for Perameterformula in lists:
    print(Perameterformula)

Height1:3
Height2:4
Breadth:45

In [51]:
def addition(Height1,Height2,Breadth):
    addition=(Height1+Height2+Breadth)
    return addition

In [52]:
addition(3,4,45)

52

In [53]:
def PerameterofTriangle():
    num=int(input("Perameter of Triangle:"))
    addition=3+4+45
    return addition

In [54]:
PerameterofTriangle()

Perameter of Triangle: 52

52

In [ ]:
#calculate the percentage of your 10th mark

subjuct1=98
subjuct2=87
subjuct3=95
subjuct4=95
subjuct5=93
Totel:468
Percentage:93.0000000000

In [55]:
lists=["subjuct1=98","subjuct2=87","subjuct=95","subjuct=95","subjuct=93"]

In [56]:
for temb in lists:
    print(temb)

subjuct1=98
subjuct2=87
subjuct=95
subjuct=95
subjuct=93

In [ ]:
#Addition

In [57]:
a=98
b=87
c=95
d=95
e=93
add=a+b+c+d+e
print(add)

468

In [58]:
num=int(input("Enter the Totel:"))
a=add
b=500
division=add/500*100
print(division)

Enter the Totel: 468

93.60000000000001

In [59]:
def percentage():    
    a=add
    b=500
    division=add/500*100
    print(division)

In [60]:
percentage()

93.60000000000001

In [ ]:
#create the function

Percentage()

Subjuct1=23
Subjuct2=45
Subjuct3=34
Subjuct4=23
Subjuct5=23
Totel:148
Percentage:29.5999999999999998

In [ ]:
#Addition

In [61]:
Sub1=23
Sub2=45
Sub3=34
Sub4=23
Sub5=23
add=Sub1+Sub2+Sub3+Sub4+Sub5
print(add)

148

In [62]:
num=int(input("Enter the Totel:"))
Sub1=add
Sub2=500
Division=add/500*100
print(Division)

Enter the Totel: 148

29.599999999999998

In [63]:
def Percentage():
    Sub1=add
    Sub2=500
    Division=add/500*100
    print(Division)

In [64]:
Percentage()

29.599999999999998